<div class="view-files">
    <button *ngIf="!showUploadedFiles" mat-button (click)="getFiles()" routerLinkActive="active" >View uploaded files</button>
</div> 
<div class="upload">
    
    <span class="choose-files"> Choose files to upload</span>
    <input #fileInput type="file" (change)="getFileList($event.target.files)" multiple class="files-input" />
    <button mat-button class="upload-button" (click)="uploadFiles()">Upload</button>
    <button *ngIf="showUploadedFiles" mat-button (click)="goToFileListing()" routerLinkActive="active" >Get your files here</button>
</div>

