.upload{
    float: left;

    .file-input {
        position: relative;
        ::ng-deep .ngx-file-drop__drop-zone{
            border-radius: 10px;
            border-style: solid;
            .ngx-file-drop__content{
                padding: 10px;
                button{
                    margin-left: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}