.message{
    float: left;
}

.upload-progress {
  margin-top: 10px;
  .uploading-txt{
    .percent{
      float:right;
    }
  }
}

.mat-progress-bar {
  height: 7px;
  border-radius: 7px;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #5581c9;
}

::ng-deep .mat-progress-bar-buffer {
    background: #b3c7e8
}

.loader{
    animation: rotation 3.5s forwards infinite;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top-color: #a29bfe;
    height: 70px;
    width: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    margin-bottom: 10px;

    @keyframes rotation {
      0% {
        transform: rotate(0);
      }
      25% {
        transform: rotate(45deg);
      }
      50%{
        transform: rotate(90deg);
      }
      75%{
        transform: rotate(180deg);
      }
      90% {
        transform: rotate(270deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
}


@keyframes uploading1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes uploading3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes uploading2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(20px, 0);
  }
}